h1{
    font-size: 60px;
    color:blue;
    text-align: center;
} 
h2{
    font-size: 24px;
    text-align: center;
}
img{
    width: 10%;
    height: 15%;
    position: absolute;
    bottom: 85%;
    left: 5%;
    transform: translateX(-50%);     
}

body{
    background-color: cyan;
}

ul{
    text-align: center;
    font-size: 30px;
    list-style-type: none;
}