h1{
    font-size: 38px;
    color: blue;
    text-align: center;
    font-size: 36px;
}

button {
    list-style-type: none; 
    display: flex; 
    justify-content: space-between; 
    margin-right: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-right: 10px;
}

body{
    background-color: cyan;
}


